<%- include('layouts/header'); -%>
<br>

<div class="alert alert-danger" role="alert">
  <h1 class="alert-heading">Hhhhm 😒</h1>
  <p>Il y a quelque chose qui cloche ...</p>
</div>

<%- include('layouts/footer'); -%>