<%- include('layouts/header'); -%>
<br>

<!-- <table class="table table-dark 	d-none d-sm-none d-md-block">
  <thead>
    <tr>
      <th class="text-center" scope="col">#</th>
      <th class="text-center" scope="col">Lundi</th>
      <th class="text-center" scope="col">Mardi</th>
      <th class="text-center" scope="col">Mercredi</th>
      <th class="text-center" scope="col">Jeudi</th>
      <th class="text-center" scope="col">Vendredi</th>
      <th class="text-center" scope="col">Samedi</th>
      <th class="text-center" scope="col">Dimanche</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="py-5 text-center" scope="row">1</th>
      <td class="py-5 text-center">The gamer</td>
      <td class="py-5 text-center">-</td>
      <td class="py-5 text-center">The gamer</td>
      <td class="py-5 text-center">-</td>
      <td class="py-5 text-center">The gamer</td>
      <td class="py-5 text-center">-</td>
      <td class="py-5 text-center">The gamer</td>
    </tr>
    <tr>
      <th class="py-5 text-center" scope="row">2</th>
      <td class="py-5 text-center">-</td>
      <td class="py-5 text-center">-</td>
      <td class="py-5 text-center">-</td>
      <td class="py-5 text-center">Risou no Himo Seikatsu</td>
      <td class="py-5 text-center">-</td>
      <td class="py-5 text-center">-</td>
      <td class="py-5 text-center">-</td>
    </tr>
    <tr>
      <th class="py-5 text-center" scope="row">3</th>
      <td class="py-5 text-center">-</td>
      <td class="py-5 text-center">Kumo Desu ga, Nani ka?</td>
      <td class="py-5 text-center">-</td>
      <td class="py-5 text-center">-</td>
      <td class="py-5 text-center">Kumo Desu ga, Nani ka?</td>
      <td class="py-5 text-center">-</td>
      <td class="py-5 text-center">-</td>
    </tr>
    <tr>
      <th class="py-5 text-center" scope="row">4</th>
      <td class="py-5 text-center">-</td>
      <td class="py-5 text-center">-</td>
      <td class="py-5 text-center">-</td>
      <td class="py-5 text-center">-</td>
      <td class="py-5 text-center">-</td>
      <td class="py-5 text-center">Sousou No Frieren</td>
      <td class="py-5 text-center">-</td>
    </tr>
  </tbody>
</table> -->

<div class="row">

  <div class="col-sm-12 col-lg-6 my-1">
    <ul class="list-group   my-1">
      <li class="list-group-item list-group-item-primary">
        <h3>Lundi</h3>
      </li>
      <li class="list-group-item">The Gamer</li>
    </ul>
  </div>


  <div class="col-sm-12 col-lg-6 my-1">
    <ul class="list-group   my-1">
      <li class="list-group-item list-group-item-primary">
        <h3>Mardi</h3>
      </li>
      <li class="list-group-item">Kumo Desu ga, Nani ka?</li>
    </ul>
  </div>

  <div class="col-sm-12 col-lg-6 my-1">
    <ul class="list-group   my-1">
      <li class="list-group-item list-group-item-primary">
        <h3>Mercredi</h3>
      </li>
      <li class="list-group-item">The gamer</li>
    </ul>
  </div>

  <div class="col-sm-12 col-lg-6 my-1">
    <ul class="list-group   my-1">
      <li class="list-group-item list-group-item-primary">
        <h3>Jeudi</h3>
      </li>
      <li class="list-group-item">Risou no Himo Seikatsu</li>
    </ul>
  </div>

  <div class="col-sm-12 col-lg-6 my-1">
    <ul class="list-group   my-1">
      <li class="list-group-item list-group-item-primary">
        <h3>Vendredi</h3>
      </li>
      <li class="list-group-item">The gamer</li>
      <li class="list-group-item">Kumo Desu ga, Nani ka?</li>
    </ul>
  </div>

  <div class="col-sm-12 col-lg-6 my-1">
    <ul class="list-group   my-1">
      <li class="list-group-item list-group-item-primary">
        <h3>Samedi</h3>
      </li>
      <li class="list-group-item">Sousou No Frieren</li>
    </ul>
  </div>

  <div class="col-sm-12 col-lg-6 my-1">
    <ul class="list-group   my-1">
      <li class="list-group-item list-group-item-primary">
        <h3>Dimanche</h3>
      </li>
      <li class="list-group-item">The gamer</li>
    </ul>
  </div>
</div>


<%- include('layouts/footer'); -%>

<!--  -->