<%- include('layouts/header'); -%>
<style>
  * {
    animation-duration: 5s;
  }
</style>
<br>
<h1>Fondateurs - 👑</h1>

<div class="row">

  <div class="col-sm-4 my-1">

    <div class="card overDisplay">

      <div class="card-body">
        <h2 class="card-title"><img loading="lazy"
            src="https://cdn.discordapp.com/avatars/285193326595145738/e4fd1c72d58d5f278b89b4f6616796f3.webp"
            class="rounded" alt="..." style="max-height: 64px;"> Misterbilly32</h2>
        <p class="card-text text-break">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non totam illo
          excepturi tempora quas veritatis porro, at ad, repudiandae commodi id rem quos officia nesciunt earum quam
          voluptatum asperiores fugit!</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 my-1">

    <div class="card overDisplay">

      <div class="card-body">
        <h2 class="card-title"><img loading="lazy"
            src="https://cdn.discordapp.com/avatars/293780425317285908/f6c81f7578fe2efa9c66b48466feac0e.png"
            class="rounded" alt="..." style="max-height: 64px;"> Akaeta</h2>
        <p class="card-text text-break">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non totam illo
          excepturi tempora quas veritatis porro, at ad, repudiandae commodi id rem quos officia nesciunt earum quam
          voluptatum asperiores fugit!</p>
      </div>
    </div>
  </div>
</div>

<hr>

<h1>Checkeurs - 🛠</h1>

<div class="row">

  <div class="col-sm-4 my-1">

    <div class="card overDisplay">

      <div class="card-body">
        <h2 class="card-title"><img loading="lazy"
            src="https://cdn.discordapp.com/avatars/230852611648126987/2f2e49d4ab9881b1dfb2898830c934b5.png"
            class="rounded" alt="..." style="max-height: 64px;"> Amarùk</h2>
        <p class="card-text text-break">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non totam illo
          excepturi tempora quas veritatis porro, at ad, repudiandae commodi id rem quos officia nesciunt earum quam
          voluptatum asperiores fugit!</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 my-1">

    <div class="card overDisplay">

      <div class="card-body">
        <h2 class="card-title"><img loading="lazy"
            src="https://cdn.discordapp.com/avatars/690652664987385968/16d6f03590b5e0e56ca080cbd3a367d2.png"
            class="rounded" alt="..." style="max-height: 64px;"> Cookie</h2>
        <p class="card-text text-break">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non totam illo
          excepturi tempora quas veritatis porro, at ad, repudiandae commodi id rem quos officia nesciunt earum quam
          voluptatum asperiores fugit!</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 my-1">

    <div class="card overDisplay">

      <div class="card-body">
        <h2 class="card-title"><img loading="lazy"
            src="https://cdn.discordapp.com/avatars/669283228078571520/1a2c9e44bdd0cd09ba8cfa140136ecbc.png"
            class="rounded" alt="..." style="max-height: 64px;"> Mutin</h2>
        <p class="card-text text-break">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non totam illo
          excepturi tempora quas veritatis porro, at ad, repudiandae commodi id rem quos officia nesciunt earum quam
          voluptatum asperiores fugit!</p>
      </div>
    </div>
  </div>
</div>

<hr>

<h1>Cleaneurs - 🖌</h1>

<div class="row">

  <div class="col-sm-4 my-1">

    <div class="card overDisplay">

      <div class="card-body">
        <h2 class="card-title"><img loading="lazy"
            src="https://cdn.discordapp.com/avatars/178809898191159297/d450f18366e27e26ca93cc3f646cf09d.png"
            class="rounded" alt="..." style="max-height: 64px;"> Jums</h2>
        <p class="card-text text-break">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non totam illo
          excepturi tempora quas veritatis porro, at ad, repudiandae commodi id rem quos officia nesciunt earum quam
          voluptatum asperiores fugit!</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 my-1">

    <div class="card overDisplay">

      <div class="card-body">
        <h2 class="card-title"><img loading="lazy"
            src="https://cdn.discordapp.com/avatars/379252906299490334/d614149f977e3c1c825b5ac34f31cd88.png"
            class="rounded" alt="..." style="max-height: 64px;"> Scipion</h2>
        <p class="card-text text-break">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non totam illo
          excepturi tempora quas veritatis porro, at ad, repudiandae commodi id rem quos officia nesciunt earum quam
          voluptatum asperiores fugit!</p>
      </div>
    </div>
  </div>
</div>

<hr>

<h1>Editeurs - 📝</h1>

<div class="row">

  <div class="col-sm-4 my-1">

    <div class="card overDisplay">

      <div class="card-body">
        <h2 class="card-title"><img loading="lazy" src="/img/1586395539106883265.jpg" class="rounded" alt="..."
            style="max-height: 64px;"> Arkudan</h2>
        <p class="card-text text-break">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non totam illo
          excepturi tempora quas veritatis porro, at ad, repudiandae commodi id rem quos officia nesciunt earum quam
          voluptatum asperiores fugit!</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 my-1">

    <div class="card overDisplay">

      <div class="card-body">
        <h2 class="card-title"><img loading="lazy" src="/img/1586395539106883265.jpg" class="rounded" alt="..."
            style="max-height: 64px;"> Bluesnow</h2>
        <p class="card-text text-break">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non totam illo
          excepturi tempora quas veritatis porro, at ad, repudiandae commodi id rem quos officia nesciunt earum quam
          voluptatum asperiores fugit!</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 my-1">

    <div class="card overDisplay">

      <div class="card-body">
        <h2 class="card-title"><img loading="lazy"
            src="https://cdn.discordapp.com/avatars/618010908358344726/c950ebb83074f21eed86470f5e3cecd0.png"
            class="rounded" alt="..." style="max-height: 64px;"> Kardoss</h2>
        <p class="card-text text-break">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non totam illo
          excepturi tempora quas veritatis porro, at ad, repudiandae commodi id rem quos officia nesciunt earum quam
          voluptatum asperiores fugit!</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 my-1">

    <div class="card overDisplay">

      <div class="card-body">
        <h2 class="card-title"><img loading="lazy"
            src="https://cdn.discordapp.com/avatars/380607773844701186/723262a687cf19bac70c6dc9ce3846b0.png?size=128"
            class="rounded" alt="..." style="max-height: 64px;"> YouStones</h2>
        <p class="card-text text-break">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non totam illo
          excepturi tempora quas veritatis porro, at ad, repudiandae commodi id rem quos officia nesciunt earum quam
          voluptatum asperiores fugit!</p>
      </div>
    </div>
  </div>

</div>

<hr>

<h1>Traducteurs - 📚</h1>

<div class="row">

  <div class="col-sm-4 my-1">

    <div class="card overDisplay">

      <div class="card-body">
        <h2 class="card-title"><img loading="lazy"
            src="https://cdn.discordapp.com/avatars/423117042128781312/767a877638e91601f3bee65e0728c89a.png"
            class="rounded" alt="..." style="max-height: 64px;"> Aloïs</h2>
        <p class="card-text text-break">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non totam illo
          excepturi tempora quas veritatis porro, at ad, repudiandae commodi id rem quos officia nesciunt earum quam
          voluptatum asperiores fugit!</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 my-1">

    <div class="card overDisplay">

      <div class="card-body">
        <h2 class="card-title"><img loading="lazy"
            src="https://cdn.discordapp.com/avatars/385457648591699970/bf3f04b6c6070373e52c59698e422324.png"
            class="rounded" alt="..." style="max-height: 64px;"> Chocolat</h2>
        <p class="card-text text-break">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non totam illo
          excepturi tempora quas veritatis porro, at ad, repudiandae commodi id rem quos officia nesciunt earum quam
          voluptatum asperiores fugit!</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 my-1">

    <div class="card overDisplay">

      <div class="card-body">
        <h2 class="card-title"><img loading="lazy"
            src="https://cdn.discordapp.com/avatars/618010908358344726/c950ebb83074f21eed86470f5e3cecd0.png"
            class="rounded" alt="..." style="max-height: 64px;"> Kardoss</h2>
        <p class="card-text text-break">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non totam illo
          excepturi tempora quas veritatis porro, at ad, repudiandae commodi id rem quos officia nesciunt earum quam
          voluptatum asperiores fugit!</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 my-1">

    <div class="card overDisplay">

      <div class="card-body">
        <h2 class="card-title"><img loading="lazy"
            src="https://cdn.discordapp.com/avatars/248450753222410241/8b247bdd38bbcfc37bdf613b866e60d3.png"
            class="rounded" alt="..." style="max-height: 64px;"> flo</h2>
        <p class="card-text text-break">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non totam illo
          excepturi tempora quas veritatis porro, at ad, repudiandae commodi id rem quos officia nesciunt earum quam
          voluptatum asperiores fugit!</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 my-1">

    <div class="card overDisplay">

      <div class="card-body">
        <h2 class="card-title"><img loading="lazy" src="/img/1586395539106883265.jpg" class="rounded" alt="..."
            style="max-height: 64px;"> Imad</h2>
        <p class="card-text text-break">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non totam illo
          excepturi tempora quas veritatis porro, at ad, repudiandae commodi id rem quos officia nesciunt earum quam
          voluptatum asperiores fugit!</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 my-1">

    <div class="card overDisplay">

      <div class="card-body">
        <h2 class="card-title"><img loading="lazy"
            src="https://cdn.discordapp.com/avatars/227142929720934401/36d710373978b8e1ecaf5e422df0442d.png"
            class="rounded" alt="..." style="max-height: 64px;"> lefaucheur</h2>
        <p class="card-text text-break">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non totam illo
          excepturi tempora quas veritatis porro, at ad, repudiandae commodi id rem quos officia nesciunt earum quam
          voluptatum asperiores fugit!</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 my-1">

    <div class="card overDisplay">

      <div class="card-body">
        <h2 class="card-title"><img loading="lazy"
            src="https://cdn.discordapp.com/avatars/470569212453191698/a_5983d7a4b287ac278e6fccd31c675878.gif"
            class="rounded" alt="..." style="max-height: 64px;"> Onelots</h2>
        <p class="card-text text-break">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non totam illo
          excepturi tempora quas veritatis porro, at ad, repudiandae commodi id rem quos officia nesciunt earum quam
          voluptatum asperiores fugit!</p>
      </div>
    </div>
  </div>
</div>

<div class="card overDisplay">

  <div class="card-body">
    <h2 class="card-title"><img loading="lazy"
        src="https://cdn.discordapp.com/avatars/285193326595145738/e4fd1c72d58d5f278b89b4f6616796f3.webp"
        class="rounded" alt="..." style="max-height: 64px;"> Misterbilly32</h2>
    <p class="card-text text-break">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non totam illo
      excepturi tempora quas veritatis porro, at ad, repudiandae commodi id rem quos officia nesciunt earum quam
      voluptatum asperiores fugit!</p>
  </div>
</div>
<%- include('layouts/footer'); -%>